@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/Graphik-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'PublicoBanner';
  src: url('../fonts/PublicoBanner-Regular-Web.woff2') format('woff2'),
    url('../fonts/PublicoBanner-Medium-Web.woff2') format('woff2'),
    url('../fonts/PublicoBanner-Bold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'PublicoHeadline';
  src: url('../fonts/PublicoHeadline-Medium-Web.woff2') format('woff2');
}