@font-face {
  font-family: 'Graphik-Regular';
  src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url('../fonts/Graphik-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url('../fonts/Graphik-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Publico-Regular';
  src: url('../fonts/PublicoBanner-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Publico-Medium';
  src: url('../fonts/PublicoBanner-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Publico-Bold';
  src: url('../fonts/PublicoBanner-Bold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'PublicoHeadline';
  src: url('../fonts/PublicoHeadline-Medium-Web.woff2') format('woff2');
}
