html {
  background: $background-color;
}

body {
  margin: 0;

  /*Mobile*/
  .container {
    background: #fff;

    @media screen and (min-width: $mobile-breakpoint) and (max-width: 480px) {
      margin-top: 24px;
      margin-left: 17.5px;
      margin-right: 17.5px;
    }

    /*Desktop*/
    @media screen and (min-width: $desktop-breakpoint) {
      margin-left: 150px;
      margin-right: 150px;
    }
  }
}

