html {
  background: $background-color;
}

body {
  margin: auto;

  .container {
    padding-left: 150px;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    .container {
      padding-left: 23px;
    }
  }
}

.image {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image: url('~assets/example.png');
  background-size: cover;
}
