/*base variables*/
$background-color: #fff;
$mobile-breakpoint: 320px;
$desktop-breakpoint: 481px;

/*color variables*/
$background-darker: #fbfbfb;
$base-grey: #bbbcbc;
$base-grey-light: #dddddd;
$base-black-light: #2e2f2f;
$base-black-lighter: #5d5d5d;

$neutral-base: #898c96;
$neutral-light: #bebfc6;

$main-black: #060d17;

$tiertiary-red: #d83e00;

$main-blue: #2976d1;
$primary-blue-ui: #fbfcff;
$primary-blue: #316eef;
$primary-blue-dark: #1f58d2;
$primary-blue-darkest: #1b3979;
