/*base variables*/
$background-color: #fff;
$mobile-breakpoint: 320px;
$desktop-breakpoint: 481px;

/*color variables*/
$base-grey: #bbbcbc;
$base-grey-light: #dddddd;
$base-black-light: #2e2f2f;

$tiertiary-red: #D83E00;

$primary-blue-ui: #fbfcff;
$primary-blue: #316eef;
$primary-blue-dark: #1f58d2;
$primary-blue-darkest: #1b3979;
