/*base variables*/
$background-color: #fff;
$mobile-breakpoint: 320px;
$desktop-breakpoint: 481px;

/*color variables*/
$base-grey:#BBBCBC;
$base-grey-light: #DDDDDD;
$base-black-light: #2E2F2F;
$primary-blue: #316EEF;
$primary-blue-darkest: #1B3979;

