.container {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);

  p {
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12.9px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.023em;
  }

  hr {
    border: 0;
    height: 1px;
    background: #ddd;
    mix-blend-mode: normal;
  }

  .calculator {
    .mortgage-years,
    .rate-interest {
      padding: 1rem 1rem 0.5rem 1rem;
      &__label {
        font-family: 'Graphik-Medium', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12.8px;
        line-height: 150%;
        color: $base-black-light;
      }
    }
  }

  .loan-values {
    &__label {
      font-family: 'Graphik-Medium', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14.4px;
      line-height: 24px;

      flex: none;
      order: 0;
      flex-grow: 0;

      color: $base-black-light;
    }
  }

  .calculate {
    padding: 24px 16px 36px 12px;

    &__button {
      display: flex;
      justify-content: space-around;
      align-items: center;

      font-family: 'Graphik-Regular', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;

      width: 100%;
      height: 3rem;

      margin-top: 8px;

      color: #fff;
      background: $primary-blue;

      border: 0;
      border-radius: 8px;
    }
  }
}
