.calculator {
  &__row {
    padding-left: 20px;
    padding-right: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__row:first-of-type {
    margin-top: 24px;
  }

  &__split {
    display: flex;
    margin: 0;
    padding: 0;

    input:first-of-type {
      width: 70%;
      border-radius: 8px 0 0 8px;
    }
    input:last-of-type {
      text-align: center;
      padding: 10px 12px;
      width: 30%;
      border-radius: 0 8px 8px 0;
      border-left: 0;
    }
  }

  &__row[data-error]::after {
    content: attr(data-error);
    position: relative;
    top: 8px;

    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.9px;
    line-height: 150%;
    letter-spacing: 0.023em;
    color: $tiertiary-red;
  }

  &__row[data-error] input,
  &__split[data-error] input {
    border: 1px solid $tiertiary-red;
  }

  &__label {
    font-family: 'Graphik-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.023em;
    margin-bottom: 8px;
    margin-top: 16px;

    color: $base-black-light;
  }

  &__text-input {
    box-sizing: border-box;
    font-family: 'Graphik-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;

    width: 100%;
    height: 48px;

    border: 1px solid $neutral-base;
    border-radius: 8px;

    padding: 10px 24px;

    color: #000;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    .calculator {
      &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 0;
      }

      &__label {
        margin-top: 24px;
        font-size: 14px;
        line-height: 170%;
      }
      &__text-input {
        line-height: 175%;
      }
      @media screen and (max-width: 1100px) {
        &__text-input {
          font-size: 12px;
          padding: 10px;
        }

        &__label {
          white-space: nowrap;
        }

        &__split {
          input:first-of-type {
            width: 60%;
          }
          input:last-of-type {
            padding-left: 8px;
            width: 40%;
          }
        }
      }
    }
  }

  /*  input focus effects
      These effects happen on all input[type="text"] and .text-input elements
  */
  input[type='text']:focus,
  .calculator__text-input:focus {
    outline: none;
    background: $primary-blue-ui;
    border: 1px solid $primary-blue-dark;
    // border-radius: 8px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
    transition: all 0.1s ease-in-out;
  }
}
